<div class="mobile-bottom-bar">
    <a href="#" class="footer-link">
        <i class="fa fa-cog"></i> <span class='footer-text'>Approve</span>
    </a>
    <a href="#" class="footer-link">
        <i class="fa fa-sign-out"></i> <span class='footer-text'>Disapprove</span>
    </a>
</div>



