<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/foundation.css'/>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
 <div class="row">
  <div class="col-sm-8">

      <div class="well">
          <h1>Amdocs Mobile Dashboard</h1>
          <p>For more information contact Alan Ennen 217-353-7514</p>
   </div>

  </div>

 </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
