<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
  </head>
  <body>

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Amdocs Mobile Dashboard Admin</h1>
      <p>Welcome</p>
    </div>

  </main>

  </body>

  <footer>
      <% include ../partials/footer %>
  </footer>
</html>
